header {
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-around;
}


h2 {
border: 1px;
padding-right: 140px;
padding-left: 140px;
border-style: solid;
display: flex;

}

.nav {
    list-style: none;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;


  }

  li {
    border: 1px;
    padding-right: 65px;
    padding-left: 65px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;

  }

.content{
border: 1px;
border-style: solid; 
display: flex;
flex-direction: row; 
}

.aside{
border: 1px;
border-style: solid;
margin-top: 5px;
padding-right: 30px; 
display: flex;
flex-direction: column;
}
.aside  > p{
border: 1px;
border-style: solid;
padding-right: 15px;
padding-left: 15px;
margin-right: 30px;
margin-left: 30px;
}

.article {
      display: flex;
      flex-direction: column

}
.article > p{
  border: 1px;
  border-style: solid;
}





/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
  @media (min-width:600px) and (max-width: 990px)  {



.article {
      display: flex;
      flex-direction: column

}
.article > p{
  border: 1px;
  border-style: solid;
}

  .nav {
    list-style: none;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }

.nav > li {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.content{
border: 1px;
border-style: solid; 
display: flex;
flex-direction: row; 
}

.aside{
border: 1px;
border-style: solid;
margin-top: 5px;
padding-right: 30px; 
display: flex;
flex-direction: column;
}
.aside  > p{
border: 1px;
border-style: solid;
padding-right: 30px;
}

header{
  display: none;
}
}








/*  Small devices    */
@media (max-width:599px) {

header,.content{
  display: none;
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }


.nav > li {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding-right: 90px;
    padding-left: 90px;
    margin-top: 70px;
    margin-bottom: 70px;
    
}


}


  
